body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget {
    background: url("../img/Paris.png") center no-repeat;
    background-size: contain;
    width: 700px;
    height: 435px;
}